{% extends 'home.html' %}

{% load static %}

{% block title %}story{% endblock %}

{% block style %}
<style>
    .photo_prf_list ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0;
        margin: 100px;
        list-style-type: none;
    }

    .photo_prf_list li {
        margin: 10px;
        box-sizing: border-box;
    }

    .prf_item {
        width: 320px;
        height: 570px;
        overflow: hidden;
        margin-bottom: 40px;
    }

    .thumb img {
        width: 300px;
        height: 400px;
        object-fit: cover;
        display: block;
        margin-left: auto;
        margin-right: auto;
        transition: all 0.6s;
    }

    .thumb:hover img {
        transform: scale(1.1) translateY(-10px); /* 커서가 댔을 때 이미지 확대 */
    }

    .prf_info {
        padding: 10px;
    }

    .s_info01 h3 {
        margin-top: 7px;
        margin-bottom: 0px;
        font-size: 17px;
        font-weight: bold;
        display: inline; /* h3와 D-Day를 한 줄에 표시 */
    }

    .prf_details p {
        font-size: 14px;
        margin: 5px 0;
    }

    .input_wrap {
        width: 50%;
        font-size: 20px;
        border-bottom: 3px solid #3a3a3a;
        padding: 0 139px 0 0;
        box-sizing: border-box;
        margin: 0 auto 30px auto; /* 중앙 정렬 및 공연 리스트와의 간격 조정 */
        margin-bottom: 120px !important;
        position: relative; /* position 설정 */
    }

    .input_wrap input:focus {
        width: 100%;
        outline: none;
    }

    .no-results {
        text-align: center;
        margin-top: 50px;
        font-size: 14px;
        font-weight: bold;
        color: #808080; 
    }

    .d-day {
        font-size: 14px;
        font-weight: normal; /* D-Day 텍스트의 굵기 조정 */
        margin-left: 10px; /* 공연명과 D-Day 사이에 약간의 여백 추가 */
        display: inline; /* 한 줄로 표시 */
    }

    #btn_topGo {
        background-color: rgb(219, 21, 21); /* 배경색을 빨간색으로 설정 */
        text-align: center; /* 텍스트를 가운데 정렬 */
        border: none; /* 테두리 제거 */
        cursor: pointer; /* 마우스 포인터를 손가락 모양으로 변경 */
        padding: 10px; /* 버튼 내부 여백 설정 */
        position: fixed; /* 화면 고정 */
        bottom: 50px; /* 화면 하단에서 20px 위로 위치 */
        right: 20px; /* 화면 오른쪽에서 20px 왼쪽으로 위치 */
        z-index: 1000; /* 다른 요소들 위에 나타나도록 설정 */
        width: 3.5%;
    }
    

</style>
{% endblock %}

{% block content %}
<div class="page_top" style="padding-top: 265px;">
    <form method="GET" action="{% url 'story' %}" class="input_wrap" style="margin-bottom: 70px; padding-top:47px;">
        <input type="text" name="query" placeholder="공연명을 입력하세요" style="border-style: none; border-width: 100%; font-size: 14px; width:120%;">
    </form>
</div>

{% if no_results %}
    <div class="no-results" style="margin-top: 165px; margin-bottom: 300px;">검색된 내용의 공연이 없습니다</div>
{% else %}
<!-- / -->
<div class="photo_prf_list" style="color: black; margin-left:160px; max-width:80%">
    <ul style="margin-top:0px !important;">
    {% for content in contents_list %}
        <li class="prf_detail">
            <div class="prf_item">
                <div class="thumb">
                    <a href="{% url 'reservation' content.PRFID %}">
                    <img src="{{ content.POSTER }}"></a>
                </div>
                <div class="prf_info">
                    <div class="s_info01">
                        <h3>
                            <span>{{ content.PRFNM }}</span>
                        </h3>
                        <div class="prf_details">
                            <p class="date" style="margin-bottom: 0px !important; margin-left:5px;">{{ content.PRFPDFROM }} ~ {{ content.PRFPDTO }}
							{% if content.D_DAY != 0 %}
                                <span class="d-day" style="margin-left: 15px; color: rgb(244, 73, 73); font-size: 12px;">({{ content.D_DAY }} Days)</span>
							{% else %}
								<span class="d-day" style="margin-left: 15px; color: rgb(244, 73, 73); font-size: 13px; font-weight:bold;">Last Day</span>
							{% endif %}</p>
                            <p class="place" style="margin-top: 0px !important; margin-left:4px;">{{ content.PLACENM_x }}</p>
                        </div>
                        <div>
                        <p class="mb-0" style="margin-top: 15px;"><a href="{% url 'reservation' content.PRFID %}" class="custom-btn">자세히 보기<span class="ion-ios-arrow-round-forward"></span></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    {% endfor %}
    </ul>
</div>
<button type="button" id="btn_topGo" style="right: 0px; outline:none; transition: opacity 0.5s ease, visibility 0.5s ease; opacity: 0; visibility: hidden;" onclick="window.scrollTo(0,0);">
    <span style="color: white; display: inline-block; text-align: center; line-height: 1.2;">
        <div style="font-size: 20px; letter-spacing: -1px;">▲</div>
        <div style="font-size: 16px; letter-spacing: -1px;">TOP</div>
    </span>
</button>

<script>
    window.onscroll = function() {
        var topButton = document.getElementById("btn_topGo");

        if (document.body.scrollTop > 500 || document.documentElement.scrollTop > 500) {
            topButton.style.opacity = "1";
            topButton.style.visibility = "visible";
        } else {
            topButton.style.opacity = "0";
            topButton.style.visibility = "hidden";
        }
    };
</script>


{% endif %}
{% endblock %}
