{% extends 'home.html' %}

{% load static %}

{% block title %}story{% endblock %}

{% block style %}
<style>
	
</style>
{% endblock %}


{% block content %}
<section class="ftco-section">	
	<div class="container-fluid p-0">
		<!-- #전체너비사용 -->
	</div>
</section>
<section class="ftco-section">	
	<div class="container-fluid p-0">
		<!-- #전체너비사용 -->
	</div>
</section>
<section class="ftco-section">	
	<div class="container-fluid p-0">
		<!-- #전체너비사용 -->
	</div>
</section>
<section class="ftco-section">	
	<div class="container-fluid p-0">
		<!-- #전체너비사용 -->
	</div>
</section>
{% endblock %}


