{% extends 'home.html' %}

{% load static %}

{% block title %}analysis{% endblock %}

{% block style %}
<style>
  
    .review {  
        width:85%;
        align-content: center; 
        border: 1px solid #bbbbbb !important; /* review 테이블의 테두리 추가 */
        border-radius: 10px !important; /* review 테이블의 테두리를 둥글게 */
        border-collapse: separate; /* 테두리 충돌 방지 */
        margin-left:8%;
        padding: 10px;        
    }

    .square-button.active{
        outline: none;
    }
    .square-button.visited{
        outline: none;
    }
</style>
{% endblock %}


{% block content %}
<section class="ftco-section" style="padding-top: 200px;">    
    <div class="container">
    <table class="table table-borderless">
        {% if error %}
            <p>{{ error }}</p>
        {% else %}
            <tr>
                <td colspan="2">
                    <div style="justify-content: center; align-items: center; color: #333; text-align: center; font-size: 1.3em; font-weight: bold;">
                        <img src="{% static 'images/any_title02.png' %}" style="width:85%;">              
                        <div style="padding-top:30px;">"당신의 선호취향을 반영하여 가장 높은 순위의 작품을 추천드리겠습니다."</div><br>
                    </div>
                </td>
            </tr>            
            {% for item in top_reviews %}
                <tr>
                    <td class="my-5" style="text-align: center; padding-top:100px;">
                        <h2><img src="{% static 'images/any_01.png' %}" style="width:4%; margin-right:10px;"><{{ item.title }}></h2>
                    </td>
                </tr>
                <tr>
                    <td>                                    
                        <div class="radar-chart" style="display: flex; justify-content: center; align-items: center; margin-top:20px;">
                            <img src="data:image/png;base64,{{ item.radar_chart }}" alt="{{ item.title }} Radar Chart" style="width:70%; border: 1px solid #000; padding:80px;">
                        </div> 
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3 style="margin-left:70px; margin-top:50px; margin-bottom:30px;">Top Reviews</h3>                      
                        {% for review in item.reviews %}
                            <table class="review" style="content: center; align-items: center;">                                
                                <tr>
                                    <td style="color: black;"> 
                                        <p style="color:#333; font-weight:bold;">
                                            {% if review.star == 1 %}
                                                <img src="{% static 'images/star1.png' %}" style="height: 20px;">
                                            {% elif review.star == 2 %}
                                                <img src="{% static 'images/star2.png' %}" style="height: 20px;">
                                            {% elif review.star == 3 %}
                                                <img src="{% static 'images/star3.png' %}" style="height: 20px;">
                                            {% elif review.star == 4 %}
                                                <img src="{% static 'images/star4.png' %}" style="height: 20px;">
                                            {% elif review.star == 5 %}
                                                <img src="{% static 'images/star5.png' %}" style="height: 20px;">
                                            {% endif %}
                                             / 공감 {{ review.empathy }}
                                        </p>                                        
                                        <p style="color: black;">{{ review.review }}</p>
                                    </td>                                   
                                </tr>                                
                            </table>
                            <br>                            
                        {% endfor %}
                        <p style="display: flex; justify-content: center; align-items: center; flex-direction: column; font-size: 1.5em;">
                            {% if item.reservation_url %}
                                <a class="square-button" href="{{ item.reservation_url }}">More Detail</a>
                            {% else %}
                                <span style="color: red;">No reservation link available</span>
                            {% endif %}
                        </p>
                    </td>
                </tr>             
            {% endfor %}
        {% endif %}
    </table>
    </div>
</section>


{% endblock %}



