{% extends 'home.html' %}

{% load static %}

{% block title %}analysis{% endblock %}

{% block style %}
{% endblock %}


{% block content %}
<section class="ftco-section bg-light" data-section="analysis" style="height:100vh;">    
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-7 heading-section text-center ftco-animate">
        <span class="subheading">analysis</span>
        <h2 class="mb-4">What is your opinion?</h2>
        <p style="color:#4e555b">관람하신 작품의 리뷰를 작성해주시면 당신의 취향을 분석해드립니다!</p>
      </div>
    </div>
    <form method="POST" action="{% url 'process_input' %}">
      {% csrf_token %}
      <div class="form-group">
        <label for="title">뮤지컬 타이틀:</label>
        <select class="form-control" id="title" name="title" required>
          <option value="" disabled selected>뮤지컬 타이틀을 선택하세요</option>
          {% for title in titles %}
            <option value="{{ title }}">{{ title }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="rating"><img src="{% static 'images/star5.png' %}" style="height: 20px;"></label>
        <select class="form-control" id="rating" name="rating" required>
          <option value="" disabled selected>별점을 선택하세요</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
      <div class="form-group">
        <label for="review">리뷰:</label>
        <textarea class="form-control" id="review" name="review" rows="4" placeholder="리뷰를 입력하세요" required></textarea>
      </div>
      <button type="submit" class="square-button">추천 받기</button>
    </form>
  </div>
</section>
{% endblock %}


