{% extends 'home.html' %}
{% load static %}
{% block title %}INFO{% endblock %}
{% block style %}
<style>

  .table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .button-container {
    display: flex;
    justify-content: center; /* Center buttons horizontally */
    width: 50px;
    height: 10px;
  }


</style>
{% endblock %}

{% block content %}
<section class="ftco-section">	
	<div class="container-fluid p-0">
		<script>
      if ('{{ msg }}'.length > 0) {
        alert('{{ msg }}');
      }
  
    </script>


    <section class="ftco-section contact-section ftco-no-pb" data-section="sign" style="margin-bottom:300px;">            
      <div class="container" style="width:30% !important;">      
          <div class="auth-box row">
              <div class="align-self-stretch box p-5 text-center">
                  <div class="text-center">
                      <h2 class="mt-3">My Info</h2>
                      <p style="color:#4e555b">변경할 비밀번호를 입력하세요.</p>
                  </div>
                  <form method="post" name="frm1" class="mt-4"> {% csrf_token %}
                      <div class="form-group">
                          <label class="text-dark" for="username">E-mail</label>
                          <input class="form-control" name="username" type="text" value="{{ userInfo.username }}" disabled="True">
                      </div>
  
                      <div class="form-group">
                          <label class="text-dark" for="pwd1">Password</label>
                          <input class="form-control" name="pwd1" id="pw1" type="password" placeholder="Enter new password">
                      </div>
                      <div class="form-group">
                          <label class="text-dark" for="pwd">Check Password</label>
                          <input class="form-control" name="pwd2" id="pw2" onchange="check()" type="password" placeholder="Enter new password">
                      </div>
  
                      <div class="text-center">
                          <button type="submit" class="btn btn-dark btn-block" onclick="pageSubmit()">회원수정</button>
                          <button type="reset" class="btn btn-dark btn-block">취소</button>
                          <button class="btn btn-outline-secondary btn-block" onclick="myinfoDel()">회원탈퇴</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
      </section>


</section>
{% endblock %}