{% extends 'home.html' %}
{% load static %}
{% block title %}INFO{% endblock %}
{% block style %}
<style>

  .table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .button-container {
    display: flex;
    justify-content: center; /* Center buttons horizontally */
    width: 50px;
    height: 10px;
  }


</style>
{% endblock %}

{% block content %}
<section class="ftco-section">	
	<div class="container-fluid p-0">
    <script>
      function checkpwd() {
        const pwd1 = document.getElementById('pwd1').value;
        const pwd2 = document.getElementById('pwd2').value;
    
        if (pwd1 !== pwd2) {
          alert('비밀번호가 일치하지 않습니다. 다시 확인해주세요.');
          document.getElementById('pwd2').value = '';
          document.getElementById('pwd2').focus();
        }
      }

      function pageSubmit() {
        const form = document.forms['frm1'];
        const origin = form.origin.value;
        const pwd1 = form.pwd1.value;
        const pwd2 = form.pwd2.value;
    
        // 빈 값 체크
        if (origin === '' || pwd1 === '' || pwd2 === '') {
          alert("모든 필드를 입력해주세요.");
          return false;  // 기본 폼 제출 동작 막기
        }
    
        // 비밀번호 일치 여부 확인
        if (pwd1 !== pwd2) {
          alert('비밀번호가 일치하지 않습니다. 다시 확인해주세요.');
          return false;  // 기본 폼 제출 동작 막기
        }
    
        form.submit();
      }

      function myinfoDel(){
        if (confirm('정말로 회원 탈퇴 하시겠습니까?')) {
          location.href='{% url "delete" %}';
        }
      }    
    </script>

    <section class="ftco-section contact-section ftco-no-pb" data-section="sign" style="margin-bottom:150px;">            
      <div class="container" style="width:30% !important;">      
          <div class="auth-box row">
              <div class="align-self-stretch box p-5 text-center">
                  <div class="text-center">
                      <h2 class="mt-3">My Info</h2>
                      <p style="color:#4e555b">변경할 비밀번호를 입력하세요.</p>
                  </div>
                  <form method="post" name="frm1" class="mt-4"> {% csrf_token %}
                      <div class="form-group">
                          <label class="text-dark" for="username">E-mail</label>
                          <input class="form-control" name="username" id="username" type="text" value="{{ userInfo.username }}" disabled="True">
                      </div>
                      <div class="form-group">
                        <label class="text-dark" for="origin">Password</label>
                        <input class="form-control" name="origin" id="origin" type="password" placeholder="Enter new password">
                    </div>  
                      <div class="form-group">
                          <label class="text-dark" for="pwd1">New Password</label>
                          <input class="form-control" name="pwd1" id="pwd1" type="password" placeholder="Enter new password">
                      </div>
                      <div class="form-group">
                          <label class="text-dark" for="pwd2">Check Password</label>
                          <input class="form-control" name="pwd2" id="pwd2" onchange="checkpwd()" type="password" placeholder="Enter new password">
                      </div>
  
                      <div class="text-center">
                          <button class="btn btn-dark btn-block" onclick="pageSubmit()">회원수정</button>
                          <button type="reset" class="btn btn-dark btn-block">취소</button>
                          <button class="btn btn-outline-secondary btn-block" onclick="myinfoDel()">회원탈퇴</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
      </section>
</section>
{% endblock %}